Handlebars
<div class="quote-title">
  <h2>Get a Quote</h2>
</div>
<div class="quote-form">
  <form action="">
    <div>
      <fieldset>
        <input type="text" placeholder="Name" name="name" required>
        <input type="text" placeholder="Business Name" name="businessName" required>
        <input type="text" placeholder="Address" name="address" required>
        <input type="tel" placeholder="Phone" name="phone" required>
        <input type="email" placeholder="Email" name="email" required>
        <select name="hearAbout" required>
          <option value="" class="option-placeholder" disabled selected>How did you hear about OSS?</option>
          <option value="Business Contact">Business Contact</option>
          <option value="Google Search">Google Search</option>
          <option value="Google Ads">Google Ads</option>
          <option value="Other Search Engine">Other Search Engine</option>
          <option value="Family/Friends">Family/Friends</option>
          <option value="Exisiting Customer">Exisiting Customer</option>
          <option value="Promotion">Promotion</option>
          <option value="Social Network">Social Network</option>
          <option value="Facebook Ad">Facebook Ad</option>
          <option value="Trade Show">Trade Show</option>
          <option value="Brochure">Brochure</option>
          <option value="Others">Others</option>
        </select>
      </fieldset>
      <fieldset>
        <select name="enquiryType" required>
          <option value="" class="option-placeholder" disabled selected>Service Required</option>
          <option value="Service Visit">Service Visit</option>
          <option value="Appliance Testing">Appliance Testing</option>
          <option value="RCD Testing">RCD Testing</option>
          <option value="Emergency Exit/Light Testing">Emergency Exit/Light Testing</option>
          <option value="Thermography">Thermography</option>
          <option value="LED Lighting">LED Lighting</option>
          <option value="Electrical Maintenance">Electrical Maintenance</option>
          <option value="Solar Panel Installations">Solar Panel Installations</option>
          <option value="Others">Others</option>
        </select>
        <textarea name="quoteRequest" rows="5" placeholder="Quote Request Description"></textarea>
        <span class="captcha-container">
          <span class="captcha">A1B2C3</span>
          <input type="text" placeholder="Captcha" name="">
        </span>
      </fieldset>
    </div>
    <div>
      <input type="submit" value="Request Quote">
    </div>
  </form>
