@charset "UTF-8";
@import url("https://use.typekit.net/bte7jqj.css");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
}

a, a:visited {
  color: inherit;
}

html {
  font-size: 100%;
  font-family: azo-sans-web, sans-serif;
}

header {
  position: sticky;
  top: 0;
  background: #31aa62;
  box-shadow: 0 1px 0 rgba(128, 128, 128, 0.05), 0px 1rem 3rem rgba(0, 0, 0, 0.025);
  z-index: 1;
}
header .header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 2.5%;
}
header .header-content .header-content-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .header-content .header-content-logo .header-content-logo-img {
  width: 3rem;
  height: 4rem;
  background-image: url("../../img/logo/logo120px.png");
  background-position: center;
  background-size: cover;
  margin-right: 0.75rem;
  filter: drop-shadow(0 5px 5px rgba(33, 33, 33, 0.13));
}
header .header-content .header-content-logo h1 {
  color: #f4fbf7;
  font-size: 3rem;
  line-height: 1.05em;
  text-shadow: 0 5px 5px rgba(33, 33, 33, 0.13);
  font-weight: 400;
}
header .header-content .header-content-other {
  display: none;
  flex-direction: row;
  align-items: center;
}
header .header-content .header-content-menu-trigger {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 0.25rem;
}
header .header-content .header-content-menu-trigger a {
  padding: 0.6rem 0.65rem 0.4rem;
  font-size: 2rem;
  color: #f4fbf7;
}
header .header-content .header-content-menu-trigger a:hover, header .header-content .header-content-menu-trigger a:visited {
  color: #f4fbf7;
}
header > .header-nav {
  transition: 0.5s ease;
}
header .header-nav {
  position: absolute;
  top: 2.5vh;
  left: 2.5vw;
  width: 95vw;
  height: 95vh;
  background: #f4f6fb;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 5% 3rem 5%;
  overflow: hidden;
  box-shadow: 0 0 5vh rgba(0, 0, 0, 0.25), 0 5px 15px rgba(33, 33, 33, 0.25);
  display: flex;
}
header .header-nav .header-nav-mobile-header {
  color: #31aa62;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
header .header-nav .header-nav-mobile-header > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
header .header-nav .header-nav-mobile-header .header-mobile-logo-img {
  width: 3rem;
  height: 4rem;
  background-image: url("../../img/logo/logo120px.png");
  background-position: center;
  background-size: cover;
  margin-right: 1rem;
}
header .header-nav .header-nav-mobile-header h1 {
  font-size: 3rem;
  font-weight: 400;
}
header .header-nav .header-nav-mobile-header i {
  font-size: 3rem;
  line-height: 1em;
}
header .header-nav .header-nav-mobile-header i:hover {
  color: #89d2a6;
}
header .header-nav .header-nav-main-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 2rem;
  flex-grow: 1;
  width: 100%;
}
header .header-nav .header-nav-main-links > li {
  list-style-type: none;
  font-size: 1.5rem;
  font-weight: 400;
  color: #31aa62;
  margin-top: 0.75rem;
}
header .header-nav .header-nav-main-links > li a,
header .header-nav .header-nav-main-links > li a:visited {
  color: #31aa62;
}
header .header-nav .header-nav-main-links > li:hover,
header .header-nav .header-nav-main-links > li a:hover {
  color: #89d2a6;
}
header .header-nav .header-nav-main-links > li ul {
  display: none;
}
header .header-nav .header-nav-main-links > li ul > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 0.5rem;
}
header .header-nav .header-nav-main-links > li ul > div li {
  list-style-type: none;
  min-width: 60px;
  width: 30%;
  height: 90px;
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  align-items: stretch;
}
header .header-nav .header-nav-main-links > li ul > div li a {
  width: 100%;
  color: #31aa62;
  font-weight: 700;
  transition: 0.2s ease;
}
header .header-nav .header-nav-main-links > li ul > div li a:hover, header .header-nav .header-nav-main-links > li ul > div li a:hover > i {
  color: #89d2a6;
  transition: 0.2s ease;
}
header .header-nav .header-nav-main-links > li ul > div li a:hover > span {
  color: #293856;
  transition: 0.2s ease;
}
header .header-nav .header-nav-main-links > li ul > div li a i {
  font-size: 2rem;
  color: #31aa62;
}
header .header-nav .header-nav-main-links > li ul > div li a span {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 0.5rem;
  height: 40px;
  font-weight: 400;
  font-size: 0.8rem;
  color: #293856;
}
header .header-nav .header-nav-sub-links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
header .header-nav .header-nav-sub-links a {
  font-size: 0.9rem;
  font-weight: 700;
  color: #31aa62;
}
header .header-nav .header-nav-sub-links a:hover {
  color: #89d2a6;
}
header .header-nav-open {
  opacity: 1;
  transform: scale(1);
  transform-origin: 100% 0;
}
header .header-nav-closed {
  opacity: 0;
  transform: scale(0);
  transform-origin: 100% 0;
}

main {
  min-height: calc(100vh - 92px);
}
main .main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  max-width: 1200px;
  width: 100%;
  margin: auto;
}
main .hero {
  background-color: #31aa62;
  color: #f4fbf7;
}
main .hero .hero-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 33vw;
  max-width: 1200px;
  max-height: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  background-image: url("../../img/placeholder.png");
}
main .hero .hero-image h2 {
  color: white;
  text-shadow: 0 5px 5px rgba(33, 33, 33, 0.13), 0 0 5vh rgba(0, 0, 0, 0.25), 0 5px 15px rgba(33, 33, 33, 0.25);
  font-size: 2rem;
  background-color: rgba(29, 38, 32, 0.85);
  padding: 0.1rem 0.4em 0.2rem;
  margin: 0 auto;
}
main .hero .hero-text {
  width: 90%;
  max-width: 50rem;
  margin: 2rem auto 4rem;
}
main .hero .hero-text h1 {
  color: #f4fbf7;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
  text-shadow: 0 5px 5px rgba(33, 33, 33, 0.13);
}
main .hero .hero-text p {
  font-size: 1.15rem;
  line-height: 1.6em;
  color: #f4f6fb;
  text-shadow: 0 5px 5px rgba(33, 33, 33, 0.13);
}
main .services .services-title {
  margin: 2rem auto;
}
main .services .services-title h2 {
  font-size: 2.5rem;
  background: #31aa62;
  color: white;
  padding: 0.5rem 2rem;
  text-align: center;
  box-shadow: 0 5px 5px rgba(33, 33, 33, 0.13);
  text-shadow: 0 5px 5px rgba(33, 33, 33, 0.13);
  font-weight: 700;
}
main .services .services-list {
  width: 100%;
  padding: 0 5vw;
}
main .services .services-list ul {
  display: flex;
  flex-direction: row;
  align-items: left;
  flex-wrap: wrap;
  max-width: 20rem;
  margin: auto;
}
main .services .services-list ul li {
  list-style-type: none;
  width: 100%;
  padding: 0.5rem 0;
  display: flex;
}
main .services .services-list ul li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #293856;
  width: 100%;
  transition: 0.2s ease;
  font-size: 0.75rem;
}
main .services .services-list ul li a:visited {
  color: #293856;
}
main .services .services-list ul li a:hover {
  color: #31aa62;
}
main .services .services-list ul li a:hover > i {
  background-color: #31aa62;
}
main .services .services-list ul li a i {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #31aa62;
}
main .services .services-list ul li a i.fa-inverse {
  color: #f4fbf7;
}
main .services .services-list ul li a span.fa-stack {
  margin-right: 2.5%;
}
main .services .services-list ul li a span.text {
  font-size: 1rem;
  width: 80%;
}
main .services-content, main .body-content {
  margin: 4rem auto;
}
main .services-content .services-content-title, main .services-content .body-content-title, main .body-content .services-content-title, main .body-content .body-content-title {
  margin: 1rem auto;
}
main .services-content .services-content-title h2, main .services-content .body-content-title h2, main .body-content .services-content-title h2, main .body-content .body-content-title h2 {
  font-size: 2.5rem;
  background: #31aa62;
  color: white;
  padding: 0.5rem 2rem;
  text-align: center;
  box-shadow: 0 5px 5px rgba(33, 33, 33, 0.13);
  text-shadow: 0 5px 5px rgba(33, 33, 33, 0.13);
  font-weight: 700;
}
main .services-content .services-content-title h3, main .services-content .body-content-title h3, main .body-content .services-content-title h3, main .body-content .body-content-title h3 {
  font-size: 1.5rem;
  text-align: center;
  color: #1b1f27;
}
main .services-content .services-content-copy, main .services-content .body-content-copy, main .body-content .services-content-copy, main .body-content .body-content-copy {
  width: 90%;
  max-width: 40rem;
  margin: auto;
}
main .services-content .services-content-copy p, main .services-content .body-content-copy p, main .body-content .services-content-copy p, main .body-content .body-content-copy p {
  line-height: 1.6em;
  margin-bottom: 1rem;
  color: #293856;
}
main .services-content .services-content-copy a, main .services-content .body-content-copy a, main .body-content .services-content-copy a, main .body-content .body-content-copy a {
  font-weight: bold;
  color: #31aa62;
}
main .services-content .services-content-copy a i, main .services-content .body-content-copy a i, main .body-content .services-content-copy a i, main .body-content .body-content-copy a i {
  color: #31aa62;
}
main .services-content .services-content-copy a:hover, main .services-content .services-content-copy a:hover *, main .services-content .body-content-copy a:hover, main .services-content .body-content-copy a:hover *, main .body-content .services-content-copy a:hover, main .body-content .services-content-copy a:hover *, main .body-content .body-content-copy a:hover, main .body-content .body-content-copy a:hover * {
  color: #40bf73;
}
main .services-content .services-content-copy ul.service-dot-points, main .services-content .body-content-copy ul.service-dot-points, main .body-content .services-content-copy ul.service-dot-points, main .body-content .body-content-copy ul.service-dot-points {
  margin: 1rem 0 2rem 0;
}
main .services-content .services-content-copy ul.service-dot-points li, main .services-content .body-content-copy ul.service-dot-points li, main .body-content .services-content-copy ul.service-dot-points li, main .body-content .body-content-copy ul.service-dot-points li {
  list-style-type: none;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  color: #293856;
  font-size: 0.95rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
main .services-content .services-content-copy ul.service-dot-points li .service-dot-point-marker::before, main .services-content .body-content-copy ul.service-dot-points li .service-dot-point-marker::before, main .body-content .services-content-copy ul.service-dot-points li .service-dot-point-marker::before, main .body-content .body-content-copy ul.service-dot-points li .service-dot-point-marker::before {
  display: inline-block !important;
  content: "";
  background-color: #31aa62;
  color: #f4fbf7;
  font-family: "Font Awesome 5 Free";
  font-size: 1rem;
  margin-right: 1rem;
  height: 1rem;
  width: 1rem;
  text-align: center;
  border-radius: 50%;
  font-weight: 700;
  padding: 0.25rem;
  transform: rotateZ(12deg);
}
main .services-content .services-content-copy ul.contact-list-container, main .services-content .body-content-copy ul.contact-list-container, main .body-content .services-content-copy ul.contact-list-container, main .body-content .body-content-copy ul.contact-list-container {
  width: max-content;
  margin: auto;
}
main .services-content .services-content-copy ul.contact-list-container li, main .services-content .body-content-copy ul.contact-list-container li, main .body-content .services-content-copy ul.contact-list-container li, main .body-content .body-content-copy ul.contact-list-container li {
  list-style-type: none;
  font-size: 1.2rem;
  margin: 0.5rem 0;
  color: #293856;
}
main .services-content .services-content-copy ul.contact-list-container li a, main .services-content .body-content-copy ul.contact-list-container li a, main .body-content .services-content-copy ul.contact-list-container li a, main .body-content .body-content-copy ul.contact-list-container li a {
  color: #293856;
  font-weight: normal;
}
main .services-content .services-content-copy ul.contact-list-container li a:hover, main .services-content .services-content-copy ul.contact-list-container li a:hover i, main .services-content .body-content-copy ul.contact-list-container li a:hover, main .services-content .body-content-copy ul.contact-list-container li a:hover i, main .body-content .services-content-copy ul.contact-list-container li a:hover, main .body-content .services-content-copy ul.contact-list-container li a:hover i, main .body-content .body-content-copy ul.contact-list-container li a:hover, main .body-content .body-content-copy ul.contact-list-container li a:hover i {
  color: #31aa62;
}
main .services-content .services-content-copy ul.contact-list-container li i, main .services-content .body-content-copy ul.contact-list-container li i, main .body-content .services-content-copy ul.contact-list-container li i, main .body-content .body-content-copy ul.contact-list-container li i {
  margin-right: 1rem;
  color: #293856;
}
main .services-content .services-content-copy .faq-item, main .services-content .body-content-copy .faq-item, main .body-content .services-content-copy .faq-item, main .body-content .body-content-copy .faq-item {
  margin-bottom: 3rem;
}
main .services-content .services-content-copy .faq-item:first-of-type, main .services-content .body-content-copy .faq-item:first-of-type, main .body-content .services-content-copy .faq-item:first-of-type, main .body-content .body-content-copy .faq-item:first-of-type {
  margin-top: 1rem;
}
main .services-content .services-content-copy .faq-item h4, main .services-content .body-content-copy .faq-item h4, main .body-content .services-content-copy .faq-item h4, main .body-content .body-content-copy .faq-item h4 {
  color: #293856;
  font-size: 1.5rem;
}
main .services-content .services-content-copy .faq-item p, main .services-content .body-content-copy .faq-item p, main .body-content .services-content-copy .faq-item p, main .body-content .body-content-copy .faq-item p {
  color: #7887a5;
  margin-top: 0.5rem;
}
main .services-content .services-content-copy .faq-item ol, main .services-content .body-content-copy .faq-item ol, main .body-content .services-content-copy .faq-item ol, main .body-content .body-content-copy .faq-item ol {
  padding-left: 2rem;
}
main .services-content .services-content-copy .faq-item ol li, main .services-content .body-content-copy .faq-item ol li, main .body-content .services-content-copy .faq-item ol li, main .body-content .body-content-copy .faq-item ol li {
  color: #7887a5;
  padding: 0.25rem 0 0.25rem 1rem;
}
main .services-content .services-content-copy h3, main .services-content .body-content-copy h3, main .body-content .services-content-copy h3, main .body-content .body-content-copy h3 {
  margin: 3rem 0 1rem;
}
main .services-content .services-content-button, main .services-content .body-content-button, main .body-content .services-content-button, main .body-content .body-content-button {
  margin: 2rem auto;
  width: 100%;
}
main .services-content .services-content-button button, main .services-content .body-content-button button, main .body-content .services-content-button button, main .body-content .body-content-button button {
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 1rem 4rem;
  font-size: 1.4rem;
  background: #31aa62;
  color: #f4fbf7;
  font-family: azo-sans-web, sans-serif;
  font-weight: 700;
  transition: 0.2s ease;
  cursor: pointer;
  text-shadow: 0 5px 5px rgba(33, 33, 33, 0.13);
}
main .services-content .services-content-button button:hover, main .services-content .body-content-button button:hover, main .body-content .services-content-button button:hover, main .body-content .body-content-button button:hover {
  background: #89d2a6;
}
main .services-content-left,
main .services-content-right,
main .body-content-left,
main .body-content-right {
  flex-direction: column;
}
main .services-content-left .services-content-img-container, main .services-content-left .body-content-img-container,
main .services-content-right .services-content-img-container,
main .services-content-right .body-content-img-container,
main .body-content-left .services-content-img-container,
main .body-content-left .body-content-img-container,
main .body-content-right .services-content-img-container,
main .body-content-right .body-content-img-container {
  width: 90%;
  max-width: 40rem;
  height: 15rem;
  background-image: url("../../img/placeholder.png");
  background-position: center;
  background-size: cover;
}
main .services-content-left .services-content-text-container, main .services-content-left .body-content-text-container,
main .services-content-right .services-content-text-container,
main .services-content-right .body-content-text-container,
main .body-content-left .services-content-text-container,
main .body-content-left .body-content-text-container,
main .body-content-right .services-content-text-container,
main .body-content-right .body-content-text-container {
  width: 90%;
  max-width: 40rem;
}
main .why-tnt {
  background: #31aa62;
  box-shadow: 0 5px 5px rgba(33, 33, 33, 0.13);
}
main .why-tnt .why-tnt-title {
  margin: 2rem auto;
}
main .why-tnt .why-tnt-title h2 {
  font-size: 2.5rem;
  background: #31aa62;
  border: 0.25rem solid #f4fbf7;
  color: white;
  padding: 0.5rem 2rem;
  text-align: center;
  font-weight: 700;
}
main .why-tnt .why-tnt-copy {
  width: 90%;
  max-width: 40rem;
}
main .why-tnt .why-tnt-copy p {
  line-height: 1.6em;
  margin-bottom: 1rem;
  color: #f4fbf7;
  text-shadow: 0 5px 5px rgba(33, 33, 33, 0.13);
}
main .why-tnt .why-tnt-button {
  margin: 2rem auto;
  width: 100%;
  display: flex;
}
main .why-tnt .why-tnt-button a {
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 1rem 4rem;
  font-size: 1.2rem;
  background: #31aa62;
  border: 0.25rem solid #f4fbf7;
  color: #f4fbf7;
  font-family: azo-sans-web, sans-serif;
  font-weight: 700;
  transition: 0.2s ease;
  cursor: pointer;
  text-shadow: 0 5px 5px rgba(33, 33, 33, 0.13);
  width: auto;
}
main .why-tnt .why-tnt-button a:hover {
  background: #40bf73;
}
main .why-tnt .why-tnt-button a a {
  width: auto;
  height: auto;
}
main .clients .clients-title {
  margin: 2rem auto;
}
main .clients .clients-title h2 {
  font-size: 2.5rem;
  background: #31aa62;
  color: white;
  padding: 0.5rem 2rem;
  text-align: center;
  box-shadow: 0 5px 5px rgba(33, 33, 33, 0.13);
  text-shadow: 0 5px 5px rgba(33, 33, 33, 0.13);
  font-weight: 700;
}
main .clients .clients-images-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
main .clients .clients-images-container .clients-image {
  height: 6rem;
  width: 10rem;
  margin: 2rem 1rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  filter: grayscale(1);
  opacity: 0.75;
}
main .clients .clients-images-container #salvationArmy {
  background-image: url("../../img/salvationarmy.png");
}
main .clients .clients-images-container #spotless {
  background-image: url("../../img/spotless.png");
}
main .clients .clients-images-container #adelaideCityCouncil {
  background-image: url("../../img/cityofadelaide.png");
}
main .clients .clients-images-container #salisburyCityCouncil {
  background-image: url("../../img/cityofsalisbury.png");
}
main .clients .clients-images-container #universityOfAdelaide {
  background-image: url("../../img/uniofadelaide.png");
}
main .clients .clients-images-container #heathgate {
  background-image: url("../../img/heathgate.png");
}
main .clients .clients-images-container #raywhite {
  background-image: url("../../img/raywhite.png");
}
main .clients .clients-images-container #allwater {
  background-image: url("../../img/allwater.png");
}
main .oss-promise {
  background: #31aa62;
  box-shadow: 0 5px 5px rgba(33, 33, 33, 0.13);
}
main .oss-promise .oss-promise-title {
  margin: 2rem auto;
}
main .oss-promise .oss-promise-title h2 {
  font-size: 2.5rem;
  background: #31aa62;
  border: 0.25rem solid #f4fbf7;
  color: white;
  padding: 0.5rem 2rem;
  text-align: center;
  font-weight: 700;
}
main .oss-promise .oss-promise-copy {
  width: 90%;
  max-width: 40rem;
}
main .oss-promise .oss-promise-copy p {
  line-height: 1.6em;
  margin-bottom: 1rem;
  color: #e2eee7;
  text-shadow: 0 5px 5px rgba(33, 33, 33, 0.13);
}
main .quote .quote-title {
  margin: 2rem auto;
}
main .quote .quote-title h2 {
  font-size: 2.5rem;
  background: #31aa62;
  color: white;
  padding: 0.5rem 2rem;
  text-align: center;
  box-shadow: 0 5px 5px rgba(33, 33, 33, 0.13);
  text-shadow: 0 5px 5px rgba(33, 33, 33, 0.13);
  font-weight: 700;
}
main .quote .quote-copy p {
  margin: 0 auto 2rem auto;
  width: 100%;
  max-width: 40em;
}
main .quote .quote-form {
  width: 90%;
  margin: auto;
}
main .quote .quote-form form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
main .quote .quote-form form div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
main .quote .quote-form form div fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  max-width: 30rem;
}
main .quote .quote-form form div fieldset > input,
main .quote .quote-form form div fieldset select,
main .quote .quote-form form div fieldset textarea,
main .quote .quote-form form div fieldset > span {
  margin: 0 0 1rem 0;
  width: 100%;
}
main .quote .quote-form form div fieldset span.error {
  margin: 0;
  font-size: 0.75rem;
  color: #ea0029;
  padding-left: 0.75rem;
  font-style: italic;
}
main .quote .quote-form form div fieldset input,
main .quote .quote-form form div fieldset select,
main .quote .quote-form form div fieldset textarea {
  background: #f4f6fb;
  color: #1b1f27;
  font-family: azo-sans-web, sans-serif;
  box-shadow: -1px -1px 1px #cdd5e4;
  padding: 0.75rem;
  font-size: 1rem;
}
main .quote .quote-form form div fieldset input::placeholder,
main .quote .quote-form form div fieldset select::placeholder,
main .quote .quote-form form div fieldset textarea::placeholder {
  color: #7887a5;
  opacity: 1;
}
main .quote .quote-form form div fieldset option {
  background: #f4f6fb;
  color: #7887a5;
  font-family: azo-sans-web, sans-serif;
}
main .quote .quote-form form div fieldset select:required:invalid {
  color: #7887a5;
  opacity: 1;
}
main .quote .quote-form form div fieldset option[value=""][disabled] {
  color: #7887a5;
}
main .quote .quote-form form div fieldset .captcha-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
main .quote .quote-form form div fieldset .captcha-container .captcha {
  width: 47.5%;
  border: 1px solid #31aa62;
  padding: 0.4rem;
  font-size: 1.5rem;
  text-align: center;
}
main .quote .quote-form form div fieldset .captcha-container input {
  width: 47.5%;
}
main .quote .quote-form form div input[type=submit] {
  width: unset;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 1rem 4rem;
  font-size: 1.2rem;
  background: #31aa62;
  color: #f4fbf7;
  font-family: azo-sans-web, sans-serif;
  font-weight: 700;
  transition: 0.2s ease;
  cursor: pointer;
  text-shadow: 0 5px 5px rgba(33, 33, 33, 0.13);
}
main .quote .quote-form form div input[type=submit]:hover {
  background: #40bf73;
}
main .quote .quote-form .quote-form-notice {
  text-align: center;
  margin: 4rem auto;
  padding: 2rem;
  width: 32rem;
  color: white;
  box-shadow: 0 5px 5px rgba(33, 33, 33, 0.13);
  text-shadow: 0 5px 5px rgba(33, 33, 33, 0.13);
  font-weight: bold;
  font-size: 1.2rem;
}
main .quote .quote-form .quote-form-notice-good {
  background: #40bf73;
}
main .quote .quote-form .quote-form-notice-bad {
  background: #e14545;
}
main .services,
main .why-tnt,
main .clients,
main .oss-promise,
main .quote,
main .other {
  padding: 4rem 0;
}
main #HomePageHero {
  background-image: url("../../img/heros/HomePageHero.png");
}
main #TestingAndSafetyHero {
  background-image: url("../../img/heros/TestingAndSafetyHero.png");
}
main #DataAndElectricalHero {
  background-image: url("../../img/heros/DataAndElectricalHero.png");
}
main #OtherServicesHero {
  background-image: url("../../img/heros/OtherServicesHero.png");
}
main #TestAndTagHero {
  background-image: url("../../img/heros/TestAndTagHero.png");
}
main #SolarHero {
  background-image: url("../../img/heros/SolarHero.png");
}
main #SecurityHero {
  background-image: url("../../img/heros/SecurityHero.png");
}
main #ThermographyHero {
  background-image: url("../../img/heros/ThermographyHero.png");
}
main #MicrowaveTestingHero {
  background-image: url("../../img/heros/MicrowaveTestingHero.png");
}
main #DataCablingHero {
  background-image: url("../../img/heros/DataCablingHero.png");
}
main #RcdTestingHero {
  background-image: url("../../img/heros/RcdTestingHero.png");
}
main #LightLevelTestingHero {
  background-image: url("../../img/heros/LightLevelTestingHero.png");
}
main #EmergencyExitLightTestingHero {
  background-image: url("../../img/heros/EmergencyExitLightTestingHero.png");
}
main #LightingInstallationsHero {
  background-image: url("../../img/heros/LightingInstallationsHero.png");
}
main #AssetManagementHero {
  background-image: url("../../img/heros/AssetManagementHero.png");
}
main #ElectricalContractingHero {
  background-image: url("../../img/heros/ElectricalContractingHero.png");
}
main #TestAndTagThumb {
  background-image: url("../../img/thumbs/TestAndTagThumb.png");
}
main #SolarThumb {
  background-image: url("../../img/thumbs/SolarThumb.png");
}
main #SecurityThumb {
  background-image: url("../../img/thumbs/SecurityThumb.png");
}
main #ThermographyThumb {
  background-image: url("../../img/thumbs/ThermographyThumb.png");
}
main #MicrowaveTestingThumb {
  background-image: url("../../img/thumbs/MicrowaveTestingThumb.png");
}
main #DataCablingThumb {
  background-image: url("../../img/thumbs/DataCablingThumb.png");
}
main #RcdTestingThumb {
  background-image: url("../../img/thumbs/RcdTestingThumb.png");
}
main #LightLevelTestingThumb {
  background-image: url("../../img/thumbs/LightLevelTestingThumb.png");
}
main #EmergencyExitLightTestingThumb {
  background-image: url("../../img/thumbs/EmergencyExitLightTestingThumb.png");
}
main #LightingInstallationsThumb {
  background-image: url("../../img/thumbs/LightingInstallationsThumb.png");
}
main #AssetManagementThumb {
  background-image: url("../../img/thumbs/AssetManagementThumb.png");
}
main #ElectricalContractingThumb {
  background-image: url("../../img/thumbs/ElectricalContractingThumb.png");
}

footer {
  background-color: #1b1f27;
  color: #89d2a6;
}
footer * {
  transition: 0.2s ease;
}
footer .footer-content {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
  padding: 5rem 1rem 2rem;
}
footer .footer-content .footer-content-contact {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .footer-content .footer-content-contact h4 {
  font-size: 7rem;
  color: #40bf73;
  line-height: 1em;
  text-shadow: 0 5px 5px rgba(33, 33, 33, 0.13);
  font-weight: 400;
}
footer .footer-content .footer-content-contact h5 {
  font-size: 1rem;
  line-height: 1.5em;
  color: #4b9b6b;
  padding-left: 0.75rem;
}
footer .footer-content .footer-content-contact ul {
  margin-top: 2rem;
  padding-left: 0.5rem;
}
footer .footer-content .footer-content-contact ul li {
  list-style-type: none;
  padding-bottom: 0.5rem;
  color: #7887a5;
  font-size: 0.9rem;
}
footer .footer-content .footer-content-contact ul li:last-of-type {
  padding-bottom: 0;
}
footer .footer-content .footer-content-contact ul li a {
  color: #7887a5;
}
footer .footer-content .footer-content-contact ul li a:hover {
  color: #89d2a6;
}
footer .footer-content .footer-content-contact ul li i {
  margin-right: 0.5rem;
}
footer .footer-content .footer-content-links {
  display: none;
}
footer .footer-content .footer-content-about {
  display: none;
}
footer .footer-copyright {
  padding: 3rem 0;
}
footer .footer-copyright h6 {
  font-size: 0.9rem;
  letter-spacing: 1px;
  font-weight: 400;
  letter-spacing: 1.5;
  text-align: center;
  color: #7887a5;
}

@media only screen and (min-width: 600px) {
  * {
    transition: 0.2s ease;
  }

  header .header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2.5%;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  header .header-content .header-content-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  header .header-content .header-content-other {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  header .header-content .header-content-other .header-content-search form {
    display: flex;
    flex-direction: row;
    background: #b9e4ca;
    color: #293856;
    margin-top: 0.3rem;
    padding-right: 0.25rem;
    align-items: center;
    width: 12rem;
    height: 2rem;
  }
  header .header-content .header-content-other .header-content-search form input[type=text] {
    width: 85%;
    background: none;
    padding: 0.5rem;
    margin-right: 0.5rem;
    font-family: azo-sans-web, sans-serif;
  }
  header .header-content .header-content-other .header-content-search form i {
    width: 10%;
    background: none;
    padding: 0rem;
    color: #31aa62;
  }
  header .header-content .header-content-other .header-content-search form div {
    position: relative;
    display: inline-block;
  }
  header .header-content .header-content-other .header-content-search form div ul {
    position: absolute;
    margin-top: 1rem;
    width: 12rem;
    background: #f4fbf7;
    box-shadow: 0 5px 5px rgba(33, 33, 33, 0.13), 0 0 5vh rgba(0, 0, 0, 0.25), 0 5px 15px rgba(33, 33, 33, 0.25);
    z-index: 10;
  }
  header .header-content .header-content-other .header-content-search form div ul li {
    display: none;
    list-style-type: none;
  }
  header .header-content .header-content-other .header-content-search form div ul li a {
    display: flex;
    padding: 0.75rem 0.5rem;
    font-size: 0.9rem;
  }
  header .header-content .header-content-other .header-content-search form div ul li a:hover {
    background: #b9e4ca;
  }
  header .header-content .header-content-other .header-content-contact {
    text-align: center;
    padding-top: 0.2rem;
  }
  header .header-content .header-content-other .header-content-contact h4 {
    font-size: 1.1rem;
    line-height: 1rem;
    font-style: italic;
    color: #b9e4ca;
    text-shadow: 0 5px 5px rgba(33, 33, 33, 0.13);
  }
  header .header-content .header-content-other .header-content-contact h3, header .header-content .header-content-other .header-content-contact h3 a {
    font-size: 1.75rem;
    line-height: 1.5rem;
    color: white;
    text-shadow: 0 5px 5px rgba(33, 33, 33, 0.13);
  }
  header .header-content .header-content-menu-trigger {
    display: none;
  }
  header .header-nav {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    background: #1b1f27;
    padding: 0;
    overflow: visible;
    box-shadow: none;
  }
  header .header-nav * {
    transition: 0.2s ease;
  }
  header .header-nav .header-nav-mobile-header {
    display: none;
  }
  header .header-nav .header-nav-main-links {
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-evenly;
  }
  header .header-nav .header-nav-main-links > li {
    margin: 0;
    flex-grow: 1;
    text-align: center;
    height: 2.5rem;
    font-size: 1rem;
    font-weight: 400;
    color: #e2eee7;
    display: flex;
    align-items: stretch;
    justify-content: center;
  }
  header .header-nav .header-nav-main-links > li:visited {
    color: #e2eee7;
  }
  header .header-nav .header-nav-main-links > li:hover {
    color: #e2eee7;
    background: #31aa62;
  }
  header .header-nav .header-nav-main-links > li > a,
header .header-nav .header-nav-main-links > li > a:visited,
header .header-nav .header-nav-main-links > li > a:hover {
    color: #e2eee7;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  header .header-nav .header-nav-main-links > li i {
    color: #31aa62;
    padding-left: 0.25rem;
  }
  header .header-nav .header-nav-main-links > li ul {
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    box-shadow: 0 5px 5px rgba(33, 33, 33, 0.13);
    background: #1b1f27;
    padding: 0.5rem 0;
    transition: 0.5s ease;
  }
  header .header-nav .header-nav-main-links > li ul > div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    max-width: 750px;
    margin: auto;
    padding: 0;
  }
  header .header-nav .header-nav-main-links > li ul > div li {
    list-style-type: none;
    height: auto;
  }
  header .header-nav .header-nav-main-links > li ul > div li a, header .header-nav .header-nav-main-links > li ul > div li a:visited {
    margin: 0;
    padding: 0.5rem 0.25rem;
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
    justify-content: flex-start;
    font-weight: 700;
    font-size: 1.25rem;
  }
  header .header-nav .header-nav-main-links > li ul > div li a:hover, header .header-nav .header-nav-main-links > li ul > div li a:visited:hover {
    justify-content: flex-start;
  }
  header .header-nav .header-nav-main-links > li ul > div li a:hover > *, header .header-nav .header-nav-main-links > li ul > div li a:visited:hover > * {
    color: #e2eee7;
  }
  header .header-nav .header-nav-main-links > li ul > div li a i, header .header-nav .header-nav-main-links > li ul > div li a:visited i {
    font-size: 2rem;
    color: #31aa62;
    margin-right: 0.5rem;
    text-align: center;
    width: 3rem;
  }
  header .header-nav .header-nav-main-links > li ul > div li a span, header .header-nav .header-nav-main-links > li ul > div li a:visited span {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 40px;
    padding-top: 0.15rem;
    font-weight: 400;
    font-size: 0.9rem;
    color: #c2cbdb;
  }
  header .header-nav .header-nav-main-links > li ul > div li a:hover > i, header .header-nav .header-nav-main-links > li ul > div li a:visited:hover > i {
    color: #e2eee7;
    transition: 0.2s ease;
  }
  header .header-nav .header-nav-main-links > li ul > div li a:hover > span, header .header-nav .header-nav-main-links > li ul > div li a:visited:hover > span {
    color: #e2eee7;
    transition: 0.2s ease;
  }
  header .header-nav .header-nav-main-links > li:hover > ul,
header .header-nav .header-nav-main-links > li ul:hover {
    opacity: 1;
    display: flex;
    transition: 0.5s ease;
  }
  header .header-nav .header-nav-main-links .header-nav-main-link-dropdown {
    align-items: stretch;
  }
  header .header-nav .header-nav-sub-links {
    display: none;
  }
  header .header-nav-open {
    opacity: 1;
    transform: scale(1);
  }
  header .header-nav-closed {
    opacity: 1;
    transform: scale(1);
  }

  main {
    min-height: calc(100vh - 136px);
  }
  main .services .services-list ul {
    max-width: 40rem;
  }
  main .services .services-list ul li {
    width: 50%;
    max-height: 250px;
  }

  footer {
    width: 100%;
  }
  footer .footer-content {
    width: 100%;
    max-width: 1200px;
    margin: auto;
  }
  footer .footer-content .footer-content-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  footer .footer-content .footer-content-links a {
    color: #7887a5;
    font-weight: 400;
    font-size: 1.2rem;
    display: flex;
  }
  footer .footer-content .footer-content-links a:hover {
    color: #89d2a6;
  }
}
@media only screen and (min-width: 900px) {
  header .header-content .header-content-other {
    flex-direction: row;
  }
  header .header-content .header-content-other form {
    margin-right: 5vw;
    margin-top: 0;
  }

  main {
    min-height: calc(100vh - 124px);
  }
  main .main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
    margin: auto;
  }
  main .hero .hero-image h2 {
    font-size: 3.5rem;
  }
  main .hero .hero-text h1 {
    font-size: 4rem;
  }
  main .hero .hero-text p {
    font-size: 1.25rem;
  }
  main .services .services-list {
    width: 100%;
    padding: 0;
    max-width: 50rem;
  }
  main .services .services-list ul {
    max-width: 80rem;
    margin: auto;
  }
  main .services .services-list ul li {
    width: 50%;
    max-height: 250px;
    padding: 1rem 0;
  }
  main .services .services-list ul li a span.text {
    font-size: 1.2rem;
  }
  main .services-content, main .body-content {
    margin: 5rem auto;
  }
  main .services-content .services-content-title, main .services-content .body-content-title, main .body-content .services-content-title, main .body-content .body-content-title {
    margin-top: 0;
  }
  main .services-content .services-content-text-container, main .body-content .services-content-text-container {
    width: calc(100% - 10rem);
    padding: 1rem 1rem 1rem 2rem;
    max-width: 50rem;
  }
  main .services-content .body-content-text-container, main .body-content .body-content-text-container {
    width: calc(100% - 10rem);
    padding: 1rem 1rem 1rem 2rem;
  }
  main .services-content-left, main .body-content-left {
    flex-direction: row;
  }
  main .services-content-left .services-content-img-container, main .services-content-left .body-content-img-container, main .body-content-left .services-content-img-container, main .body-content-left .body-content-img-container {
    width: 15rem;
    height: 15rem;
  }
  main .services-content-left .services-content-text-container, main .body-content-left .services-content-text-container {
    width: calc(100% - 10rem);
    padding: 1rem 1rem 1rem 2rem;
    max-width: 50rem;
  }
  main .services-content-left .body-content-text-container, main .body-content-left .body-content-text-container {
    width: calc(100% - 10rem);
    padding: 1rem 1rem 1rem 2rem;
  }
  main .services-content-right, main .body-content-right {
    flex-direction: row-reverse;
  }
  main .services-content-right .services-content-img-container, main .services-content-right .body-content-img-container, main .body-content-right .services-content-img-container, main .body-content-right .body-content-img-container {
    width: 15rem;
    height: 15rem;
  }
  main .services-content-right .services-content-text-container, main .services-content-right .body-content-text-container, main .body-content-right .services-content-text-container, main .body-content-right .body-content-text-container {
    width: calc(100% - 10rem);
    padding: 1rem 2rem 1rem 1rem;
  }
  main .why-tnt .why-tnt-copy p {
    font-size: 1.15rem;
  }
  main .clients .clients-images-container {
    max-width: 1200px;
  }
  main .clients .clients-images-container .clients-image {
    height: 8rem;
    width: 12rem;
    margin: 2rem 0.5rem;
  }
  main .oss-promise .oss-promise-copy p {
    font-size: 1.15rem;
  }
  main .quote .quote-title {
    margin: 2rem auto;
  }
  main .quote .quote-form {
    width: 90%;
    margin: auto;
    max-width: 50rem;
  }
  main .quote .quote-form form div {
    flex-direction: row;
    align-items: stretch;
  }
  main .quote .quote-form form div fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    max-width: unset;
  }
  main .quote .quote-form form div fieldset:first-of-type {
    margin-right: 1rem;
  }
  main .quote .quote-form form div fieldset:last-of-type {
    margin-left: 1rem;
  }
  main .quote .quote-form form div fieldset > input,
main .quote .quote-form form div fieldset select,
main .quote .quote-form form div fieldset textarea,
main .quote .quote-form form div fieldset > span {
    margin: 0 0 1rem 0;
    width: 100%;
  }
  main .quote .quote-form form div fieldset input,
main .quote .quote-form form div fieldset select,
main .quote .quote-form form div fieldset textarea {
    padding: 0.75rem;
    font-size: 1rem;
  }
  main .quote .quote-form form div fieldset textarea {
    height: 10.2rem;
  }
  main .quote .quote-form form div fieldset select:required:invalid {
    color: #7887a5;
    opacity: 1;
  }
  main .quote .quote-form form div fieldset option[value=""][disabled] {
    color: #7887a5;
  }
  main .quote .quote-form form div fieldset input[type=submit] {
    width: unset;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 1rem 4rem;
    font-size: 1.2rem;
    background: #31aa62;
    color: #f4fbf7;
    font-family: azo-sans-web, sans-serif;
    font-weight: 700;
    transition: 0.2s ease;
    cursor: pointer;
    text-shadow: 0 5px 5px rgba(33, 33, 33, 0.13);
  }
  main .quote .quote-form form div fieldset input[type=submit]:hover {
    background: #40bf73;
  }
  main.home .services,
main.home .why-tnt,
main.home .clients,
main.home .oss-promise,
main.home .quote,
main.home .other {
    padding: 5rem 0;
  }
  main.contact .body-content {
    padding: 4rem 0 1rem 0;
  }
  main.contact .body-content .body-content-copy {
    width: 90%;
    max-width: 50rem;
    margin: auto;
  }
  main.contact .body-content .body-content-copy ul.contact-list-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 120px;
    padding-left: 2rem;
  }
  main.contact .body-content .body-content-copy ul.contact-list-container li {
    width: 50%;
  }
  main.contact .quote {
    padding: 1rem 0 4rem 0;
  }

  footer .footer-content .footer-content-contact {
    width: 30%;
    max-width: 300px;
  }
  footer .footer-content .footer-content-links {
    max-width: 30%;
  }
  footer .footer-content .footer-content-about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 30%;
    max-width: 350px;
  }
  footer .footer-content .footer-content-about > div {
    width: 100%;
  }
  footer .footer-content .footer-content-about > div:first-of-type {
    margin-bottom: 2rem;
  }
  footer .footer-content .footer-content-about h4 {
    color: #4b9b6b;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  footer .footer-content .footer-content-about p {
    font-size: 0.9rem;
    color: #7887a5;
  }
  footer .footer-content .footer-content-about form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  footer .footer-content .footer-content-about form input[type=text],
footer .footer-content .footer-content-about form input[type=email] {
    background: #293856;
    color: #cdd5e4;
    padding: 0.4em 0.6em;
    margin-bottom: 0.5em;
    width: 100%;
    font-size: 1rem;
    font-family: azo-sans-web, sans-serif;
  }
  footer .footer-content .footer-content-about form input[type=submit] {
    padding: 0.4em;
    width: 60%;
    margin: 0.2em auto 0;
    color: #e2eee7;
    background: #31aa62;
    font-family: azo-sans-web, sans-serif;
    text-shadow: 0 5px 5px rgba(33, 33, 33, 0.13);
    font-size: 1.2rem;
    line-height: 1em;
    font-weight: 700;
    cursor: pointer;
  }
  footer .footer-content .footer-content-about form input[type=submit]:hover {
    background: #40bf73;
  }
}
@media only screen and (min-width: 1200px) {
  header .header-nav .header-nav-main-links > li ul > div {
    max-width: 1200px;
  }
  header .header-nav .header-nav-main-links > li ul > div li {
    width: 16.5%;
    max-width: 200px;
  }
  header .header-nav .header-nav-main-links > li ul > div li a, header .header-nav .header-nav-main-links > li ul > div li a:visited, header .header-nav .header-nav-main-links > li ul > div li a:hover {
    width: 100%;
    justify-content: flex-start;
  }

  main.home .services,
main.home .why-tnt,
main.home .clients,
main.home .oss-promise,
main.home .quote,
main.home .other {
    padding: 6rem 0;
  }

  main .clients .clients-images-container {
    max-width: 1200px;
  }
  main .clients .clients-images-container .clients-image {
    margin: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
